/*
=============================================
Portfolio
=============================================
*/


.project_gallery {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1em;
    padding: 1em;
}

.project_image {
    cursor: pointer;
    position: relative;
    min-height: 200px;
    height: auto;
}

.project_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.project_gallery h3 {
    background: #BBDEFB;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}

